{% extends "layouts/base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
    <h2>Log in</h2>
    <div class="col-md-4">
    {{ form_start(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
