<div id="sidebar">
    <ul class="nav flex-column">
        {% if not is_granted("ROLE_USER") %}
        <li><a href="{{ url("ui_auth_login") }}">Log in</a></li>
        {% else %}
        <li><a href="#TODO">Log out</a></li>
        {% endif %}
    </ul>
</div>
