<div id="sidebar">
    <ul id="sidebar-menu" class="nav flex-column">
        <li data-logged-in="0"><a href="javascript:void(0)" data-action="login">Log in</a></li>
        <li data-logged-in="1"><a href="javascript:void(0)" data-action="dialogs">Dialogs</a></li>
        <li data-logged-in="1"><a href="javascript:void(0)" data-action="posts">Posts</a></li>
        <li data-logged-in="1"><a href="javascript:void(0)" data-action="logout">Log out</a></li>
    </ul>
</div>
